
/* Mobile First */

@media only screen and (max-width: 500px) {
    .container.main {
        max-width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    .container.main {
        max-width: 85%;
    }
}

@media only screen and (min-width: 600px) {
    .container.main {
        max-width: 70%;
    }
}

@media only screen and (min-width: 700px) {
    .container.main {
        max-width: 65%;
    }
}

@media only screen and (min-width: 800px) {
    .container.main {
        max-width: 55%;
    }
}

@media only screen and (min-width: 900px) {
    .container.main {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .container.main {
        max-width: 45%;
    }
}

@media only screen and (min-width: 1100px) {
    .container.main {
        max-width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .container.main {
        max-width: 35%;
    }
}

@media only screen and (min-width: 1500px) {
    .container.main {
        max-width: 30%;
    }
}

@media only screen and (min-width: 1800px) {
    .container.main {
        max-width: 25%;
    }
}
