
/* Fix user-agent */

* {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0px 0px 8px 0px rgba(136,136,136,1)
}


/* Login Page */

#login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
}

#login-page-title {
  font-size: 200%;
  color: white;
}

#login-page-error {
  font-size: 150%;
  color: red;
}

#login-page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

#login-page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}


#login-page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}


/* Game Page */

#game-page {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fefefe;
}

#input-game {
  border: 5px solid #fff;
  height: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
  padding-left: 1%;
  position: absolute;
  width: 100%;
  font-size: 200%;
  color: #000;
}

#player-list-link, #player-list li {
  color: black;
}
