
/* Other */

* {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.shadow {
  box-shadow: 0px 0px 8px 0px rgba(136,136,136,1)
}

.badge[data-badge]:after {
  content:attr(data-badge);
  color: white;
  width: auto;
  height: auto;
  padding: 4px;
  text-align: center;
  float: left;
}




/* Mobile First */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .submit.badge[data-badge]:after {
    font-size: 1.2em;
  }

  .winner.badge[data-badge]:after {
    font-size: 0.4em;
  }

  .login-text {
    font-size: 0.5em;
  }

  #game-navbar {
    padding: 2% 1% 2% 1%;
  }

  .nav-text {
    font-size: 1.8em;
    color: red;
  }

  #game-navbar > .logo img {
    height: 2.2em;
  }

  .hero .emoji {
    font-size: 3em;
  }

  .hero .message {
    font-size: 1em;
  }

  .memecard.submit .icon {
    font-size: 1.5em;
  }

  .submit-text {
    font-size: 1.5em;
  }

  .memereact-container td {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .memereact {
    font-size: 3em;
  }

  .memereact-container > .winner > .name {
    font-size: 2.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .submit.badge[data-badge]:after {
    font-size: 1.5em;
  }

  .winner.badge[data-badge]:after {
    font-size: 0.4em;
  }

  .login-text {
    font-size: 1em;
  }

  #game-navbar {
    padding: 2.5% 2% 2.5% 2%;
  }

  .nav-text {
    font-size: 2.8em;
    color: green;
  }

  #game-navbar > .logo img {
    height: 4em;
  }

  .hero .emoji {
    font-size: 3em;
  }

  .hero .message {
    font-size: 1.5em;
  }

  .memecard.submit .icon {
    font-size: 2.5em;
  }

  .submit-text {
    font-size: 2em;
  }

  .memereact-container td {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .memereact {
    font-size: 5em;
  }

  .memereact-container > .winner > .name {
    font-size: 3.5em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .submit.badge[data-badge]:after {
    font-size: 2em;
  }

  .winner.badge[data-badge]:after {
    font-size: 0.5em;
  }

  .login-text {
    font-size: 1.8em;
  }

  #game-navbar {
    padding: 2.5% 2% 2.5% 2%;
  }

  .nav-text {
    font-size: 3.8em;
    color: blue;
  }

  #game-navbar > .logo img {
    height: 5em;
  }

  .hero .emoji {
    font-size: 4em;
  }

  .hero .message {
    font-size: 2em;
  }

  .memecard.submit .icon {
    font-size: 3em;
  }

  .submit-text {
    font-size: 2.5em;
  }

  .memereact-container td {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .memereact {
    font-size: 7em;
  }

  .memereact-container > .winner > .name {
    font-size: 4.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .submit.badge[data-badge]:after {
    font-size: 2.5em;
  }

  .winner.badge[data-badge]:after {
    font-size: 0.6em;
  }

  .login-text {
    font-size: 2em;
  }

  #game-navbar {
    padding: 2.5% 2% 2.5% 2%;
  }

  .nav-text {
    font-size: 4.8em;
    color: purple;
  }

  #game-navbar > .logo img {
    height: 6em;
  }

  .hero .emoji {
    font-size: 4em;
  }

  .hero .message {
    font-size: 2.5em;
  }

  .memecard.submit .icon {
    font-size: 3.5em;
  }

  .submit-text {
    font-size: 3em;
  }

  .memereact-container td {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .memereact {
    font-size: 7em;
  }

  .memereact-container > .winner > .name {
    font-size: 5.5em;
  }
}




/* Login Page */

#login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000;
}

#login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000;
}

#login-page-title {
  font-size: 200%;
  color: white;
}

#login-page-error {
  font-size: 150%;
  color: red;
}

#login-page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

#login-page .form #input-username {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}


#login-page #input-username {
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}


/* Game Page */

#game-page {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fefefe;
}

#game-area {
  z-index: 2;
  position: relative;
  width: 100%;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#game-area > div {
  display: none;
  position: absolute;
  width: 100%;
  top: 2%;
  left: 0;
}

#game-navbar {
  z-index: 10;
  background-color: white;
}

#game-navbar > .logo {
  display: table-cell;
  vertical-align: middle;
}

#game-navbar > .logo img {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

.hero > div {
  background-color: transparent;
}

#input-game {
  border: 0;
}

.memecard {
  margin-bottom: 20px;
}

.memecard .card-title{
  color: black;
}

.memereact-container table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.memereact-container > .winner {
  width: 100%;
  display: table;
}

.memereact-container > .winner > .name {
  display: table-cell;
  text-align: center;
  font-weight: bold;
}

.memereact {
  text-align: center;
}

.memereact:hover {
  background-color: #eee;
}

.memereact.unclickable {
  pointer-events: none;
  cursor: default;
}
